*,
*::before,
*::after {
	box-sizing: border-box;
}

.html {
	font-size: 16px;
	font-family: "Golos Text", sans-serif;
	text-size-adjust: none;
}

.body {
	margin: 0;
}

.body:has(.menu__button--active) {
	overflow: hidden; /* fix mobile menu */
}
